body {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.App {
    height: auto;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.col-sm-8 {
    cursor: pointer;
    transition: 0.3s;
}

.col-sm-8:hover {
    font-size: 18px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #c1c1c1;
}

.marked {
    text-decoration-line: line-through;
}
