body{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: centers;
}

.App {
    height: auto;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
